{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
<h1>{{ article.title }}</h1>
<h2>{{ article.pk }}번 게시글</h2>
<h3><a href="{% url 'accounts:detail' article.user.pk %}">{{ article.user.username }}</a></h3>
<p>{{ article.created_at|date:"y-m-d D" }} | {{ article.updated_at|date:"y-m-d D" }}</p>

{% comment %} {%if requset.user == article.user %} 다음주 수업 {% endcomment %}
{% if article.image %}
<img src="{{ article.image.url }}" alt="{{ article.image }}" width="400" height="300">
{% endif %}
<p>{{article.content}}</p>


{% if request.user.is_authenticated %}
{% if request.user in article.like_users.all %}

  <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart-fill"></i>

{% else %}

  <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart"></i> 

{% endif %}
<span id='like-count'>{{ article.like_users.count }}</span>
{% else %}
<a href="{% url 'accounts:login'%}" class="btn btn-outline-dark"> 로그인이 필요합니다.</a>
{% endif %}
{% if request.user == article.user %}
<div>
  <a href="{% url 'articles:update' article.pk %}" class="btn btn-outline-dark my-3">수정하기</a>
  <a href="{% url 'articles:delete' article.pk %}" class="btn btn-outline-dark my-3">삭제하기</a>
</div>
{% endif %}

<h4>댓글</h4>
<hr>
<div id = 'comments'>
{% for comment in comments %}
  <p> {{ comment.user.username }} | {{ comment.content }}</p>
    {% if request.user == article.user %}
      <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="DELETE">
      </form>
    {% endif %}
  <hr>
{% endfor %}
</div>
{% if comments %}
<p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
{% else %}
<p>댓글이 없습니다.</p>
{% endif %}
{% if request.user.is_authenticated %}
<form id="comment-form" data-article-id="{{ article.pk }}">
  {% csrf_token %}
  {% bootstrap_form comment_form layout='inline'%}
  {% bootstrap_button button_type="submit" content="OK" %}
</form>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  // 좋아요 버튼 
  const likeBtn = document.querySelector('#like-btn')
  // 좋아요 버튼 클릭하면, 지정한 함수 실행
  likeBtn.addEventListener('click', function (event) {
    // 비동기 요청 ->
    axios({
      method: 'get',
      url: `/articles/${event.target.dataset.articleId}/like/`
    })
      // 응답을 하는곳 
      .then(response => {
        if (response.data.isLiked === true) {
          event.target.classList.add('bi-heart-fill')
          event.target.classList.remove('bi-heart')
        }
        else {
          event.target.classList.add('bi-heart')
          event.target.classList.remove('bi-heart-fill')
        }
        const likeCount = document.querySelector('#like-count')
        likeCount.innerText = response.data.likeCount
      })
  })
</script>
<script>
  // 댓글
  const commentForm = document.querySelector('#comment-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  commentForm.addEventListener('submit', function(event) {
    event.preventDefault();
    axios({
      method: 'post',
      url: `/articles/${event.target.dataset.articleId}/comments/`,
      headers: {'X-CSRFToken': csrftoken},
      data: new FormData(commentForm) 
    })
    .then(response => {
      console.log(response.data)
      // 댓글을 추가
      const comments = document.querySelector('#comments')
      const p = document.createElement('p')
      p.innerText = `${response.data.userName} | ${response.data.content}`
      const hr = document.createElement('hr')
      comments.append(p, hr) 
      commentForm.reset()
    })
  })
</script> 
{% endblock %}